*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}
body{
    /* background-color: black; */
    background-image: url(\project\project\Images\de36274c-04a9-493f-836f-1caf2c61703e_750x422.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}
header, footer{
    background-color: rgb(75, 0, 130, 0.3);
    backdrop-filter: blur(10px);
    padding: 30px 10px;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
header img{
    height: 100px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    /* padding-left: 2rem; */
}
/* ***************** */
footer{
    text-align: center;
    font-size: x-large;
}
footer span:hover{
    color: yellowgreen;
}
/*  */
section{
    min-height: 30vh;
    height: auto;
    
}

section .container{
    max-width: 90vw;
    margin: 0.5rem auto;
    /* margin: 0.5rem ; */
    padding: 20px;
    min-height: 30vh;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    /* align-items: center; */
}

/* *************** */

.main{
    width: 60%;
    padding: 2em;
    border-radius: 1.5rem;
    /* background-color: rgba(0, 0, 255, 0.05); */
}
.main h2{
    text-align: center;
    margin-bottom: 1em;
}
.main p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 500;
    text-indent: 2.5rem;
}

.image{
    width: 40vw;
    height: 100%;
    /* background-color: red; */
    
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    transition: all 500ms;
}
.image img:hover{
    scale: 102%;
}

/* ******************* */

.main .button-section{
    /* background-color: white; */
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main .button-section .button{
    padding: 10px 20px;
    min-width: 110px;
    color: black;
    text-decoration: none;
    font-size: 1em;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.062);
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.162);   
}